<div class="hero">
    <header>
        <h1>Our Alumni</h1>
        <p>Get to know our students and share ideas and thoughts. Many of our students have already reached out to
            already existing students in advance to get a glimpse of student life at our academy.</p>
    </header>
</div>

<div class="container">
    <div class="row">
        <div class="card mt-5" style="width: 50rem;">
            <img src="{{test.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Name: {{test.fname}} {{test.lname}}</h5>
                <p class="card-text">Age: {{test.age}}</p>
                <p class="card-text">Date of Enrollment:
                    {{test.enrollmentDate}}/{{test.enrollmentMonth}}/{{test.enrollmentYear}}.</p>
                <hr>
                <p class="card-text">About: {{test.description}}</p>
                <hr>
                <p class="card-text">Date of Graduation:
                    {{test.graduationDate}}/{{test.graduationMonth}}/{{test.graduationYear}}.</p>
            </div>
        </div>

        <aside class="col col-sm-12 col-lg-3 mt-5">
            <h3>Calendar</h3>
            <table class="calendar">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of homeCalEntries">
                        <td><strong>{{ item.date }}</strong><br>{{ item.time }}</td>
                        <td>{{ item.desc }}</td>
                    </tr>
                </tbody>
            </table>
        </aside>
    </div>
</div>