<div class="text-center hero" id="contactHero">
    <header>
        <h1>Contact us</h1>
        <p class="mb-4">If you need more information about CodeFactory, CodeFactory Alumni, an upcoming event or you want to get in touch with one of our alumnis, here you will find how you can reach us. We are happy to help.</p>
    </header>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/mnqkraqy" method="post">
                <fieldset id="fs-frm-inputs">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2">Contact Form</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label for="full-name">Full Name:</label></td>
                                <td><input type="text" name="name" id="full-name" placeholder="First and Last" required="" class="w-100"></td>
                            </tr>
                            <tr>
                                <td><label for="email-address">Email Address:</label></td>
                                <td><input type="email" name="_replyto" id="email-address" placeholder="email@domain.tld" required="" class="w-100"></td>
                            </tr>
                            <tr>
                                <td><label for="message">Message</label></td>
                                <td><textarea rows="5" name="message" id="message" placeholder="your message here ..." required="" class="w-100"></textarea>
                                <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission"></td>
                            </tr>
                            <tr>
                                <td colspan="2"><input type="submit" value="Submit" class="btn btn-outline-primary"></td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
        <div class="col-12 col-md-4">
            <div class="mb-3">
                <span class="fw-bold">CodeFactory GmbH</span><br>
                Kettenbrückengasse 23/2/12,<br>
                1050 Vienna
            </div>
            <div>
                <iframe width="100%" height="250" style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2659.5278363833627!2d16.357240715990518!3d48.196448179228184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d07866f5ea789%3A0x5c320007be5849de!2sKettenbr%C3%BCckengasse+23%2C+1050+Wien!5e0!3m2!1sen!2sat!4v1540194891008" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            </div>
        </div>
    </div>
</div>
